html{
    scroll-behavior: smooth;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--feher);
}
img{
    image-rendering: optimizeQuality;
}

/* Áttűnés egész oldalra */


*{
    transition: all 0.5s;
    cursor: default;
}

::-webkit-scrollbar{
    width: 1.2vw;
    background: transparent;
}
::-webkit-scrollbar-track{
    background-color: var(--szurke2);
    border: solid var(--feher) 0.2vw;
}
::-webkit-scrollbar-thumb{
    background-color: var(--feher);
    border-radius: 100vw;
    border: solid var(--szurke2);
}
::-webkit-scrollbar-button{
    background-color: var(--szurke2);
    border: solid var(--feher) 0.1vw;
}

/* Kijelölés */


*::selection{
    background-color: var(--fekete);
    color: var(--feher);
}

/* Színváltás (light) */


:root{
    --feher: rgb(255, 255, 255);
    --feher2: rgba(255, 255, 255,0.5);
    --feher3: rgb(255, 255, 255);
    --szurke: rgb(40, 40, 40);
    --szurke2: rgb(40, 40,40);
    --barna: rgb(240, 220, 170);
    --barna2: rgba(240, 220, 170, 0.9);
    --fekete: rgb(0, 0, 0);
}
/* Színváltás (dark) */


.sotet{
    --feher: rgb(0, 0, 0);
    --feher2: rgba(0, 0, 0, 0.5);
    --feher3: rgb(255, 255, 255);
    --szurke: rgb(0, 0, 0);
    --szurke2: rgb(255, 255, 255);
    --barna: rgb(240, 220, 170);
    --barna2: rgba(0, 0, 0, 0.9);
    --fekete: rgb(255, 255, 255);
}

/* Linkek */


a{
    cursor: pointer;
    pointer-events: all;
}

/* Dark-Light Mode gomb */


#icon{
    position: fixed;
    left: 95vw;
    width: 3vw;
    transform: rotateY(180deg);
    pointer-events: all;
    cursor: pointer;
    z-index: 2;
}

/* Háttérképek */


#coffe1,
#coffe2,
#coffe3{
    position: absolute;
    width: 70vw;
    z-index: -1;
    border: 0;
    box-shadow: 0 0 0;
    filter: opacity(0.2) saturate(0.3);
}
#coffe1{
    left: 0;
}
#coffe2{
    left: 0;
    top: 120vw;
}
#coffe3{
    left: 0;
}

/* Header */


.head{
    display: flex;
    height: 15vw;
    background: url(kepek/kave.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
}
.headbg{
    display: flex;
    text-align: center;
    margin: 5vw 0;
    width: 100%;
    background-color: var(--feher2);
    justify-content: center;
    align-items: center;
}
header{
    color: var(--feher3);
    background-color: var(--barna2);
    width: 40%;
    height: auto;
    border-radius: 2vh;
    text-shadow: 0.5vh 0 1vh var(--fekete);
    font-size: 50px;
    font-weight: bolder;
    pointer-events: none;
}

/* Navbar */


.nav{
    display: flex;
    background-color: var(--szurke);

}
.nav-item{
    margin: 0 auto;
    width: 25%;
    height: auto;
    text-align: center;
    border-bottom: 0.5vh solid transparent;
}
.nav-item:focus,
.nav-item:hover{
    border-bottom: 0.5vh solid var(--feher3);
    box-shadow: 0 -8vh 5vh -10vh var(--feher3) inset;
    font-size: 120%;
}
.nav-item a{
    display: block;
    text-decoration: none;
    color: var(--feher3);
    font-weight: bold;
    font-size: 2vw;
    line-height: 8vw;
    pointer-events: all;
    cursor: pointer;
    transition: all 0.5s;
}
.navlogo{
    display: none;
}

/* Történet blokk */


.tortenet{
    display: grid;
    grid-template-columns: 50% 50%;
    height: fit-content;
    margin: 0;
    padding: 2vw;
    border-top: 0.5vw var(--feher3) solid;
}
.tortenet h1{
    color: var(--fekete);
    margin: 10vw 0 0 0;
    padding: 0;
    grid-column: span 2;
    font-size: 5vw;
    letter-spacing: 0.5vw;
}
.tortenet p{
    color: var(--fekete);
    width: fit-content;
    font-size: 2vw;
}
.tortenet img{
    width: 40vw;
    margin: 5vw;
    aspect-ratio: 1/1;
    object-fit: cover;
    border: 0.2vw solid var(--fekete);
    box-shadow: 0.8vw 0.8vw 2vw var(--fekete);
}

/* Napi ajánlat blokk */


.napi{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin: 0;
    margin-top: 15vw;
    padding: 2vw;
    text-align: center;
}
.napi h1{
    color: var(--fekete);
    margin: 10vw 0 0 0;
    padding: 0;
    font-size: 5vw;
    letter-spacing: 0.5vw;
    
}
.napi p{
    color: var(--fekete);
    width: 50vw;
    font-size: 2vw;
    margin-left: auto;
}
.napi p a{
    color: var(--fekete);
    text-decoration: none;
    font-size: 3vw;
    font-weight: bold;
    background-color: var(--feher);
    border: 0.2vw solid var(--fekete);
    padding: 0.5vw;
}
.napi p a:hover{
    background-color: var(--fekete);
    color: var(--feher);
    letter-spacing: 0.2vw;
}
.napi img{
    width: 40vw;
    aspect-ratio: 1/1;
    object-fit: cover;
    float: left;
    border: 0.2vw solid var(--fekete);
    box-shadow: 0.8vw 0.8vw 2vw var(--fekete);
}
.napi a{
    grid-row: span 2;
}

/* Itallap blokk */


.menu{
    display: grid;
    grid-template-columns: 50% 50%;
    height: max-content;
    margin: 0;
    margin-top: 8vw;
    padding: 2vw;
    text-align: left;
}
.menu h1{
    color: var(--fekete);
    margin: 0;
    padding: 0;
    width: min-content;
    font-size: 5vw;
    letter-spacing: 0.5vw;
    grid-column: span 2;
}
.menu p{
    color: var(--fekete);
    font-size: 2vw;
}
.menu p a{
    color: var(--fekete);
    text-decoration: none;
    font-size: 3vw;
    font-weight: bold;
    background-color: var(--feher);
    border: 0.2vw solid var(--fekete);
    padding: 0.5vw;
}
.menu p a:hover{
    background-color: var(--fekete);
    color: var(--feher);
    letter-spacing: 0.2vw;
}

/* Kávé képek (slideshow) */


.galeria{
    margin: auto;
    max-width: 40vw;
}
.galeria2{
    display: grid;
    grid-template-columns: 40vw 40vw 40vw;
    width: 100%;
    border: solid 0.5vw var(--fekete);
    box-shadow: 1vw 0.5vw 3vw var(--fekete);
    overflow-x: hidden;
}
.galeria3{
    transform: translateX(var(--galeria));
    width: 100%;
    height: 100%;
}
.galeriagomb{
    display: flex;
    justify-content: center;
    column-gap: 3vw;
    margin: 2vw 0 0 auto;
}
.galeriagomb input{
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 100%;
    background-color: var(--fekete);
    border-color: var(--feher);
    transition: all 0.1s;
}
.galeriagomb input:hover{
    background-color: var(--feher);
    border-color: var(--fekete);
}

/* Footer */


.foot{
    position: relative;
    width: 100%;
    height: 6vw;
    margin: 5vw auto 0;
    background-color: var(--szurke);
}


/* Reszponzív rész */
@media screen and (375px > width) {
    header{
        font-size: 15px;
    }
    .tortenet{
        align-items: center;
        text-align: center;
        grid-template-columns: 100%;
    }
        .tortenet p{
            font-size: 15px;
        }
        .tortenet h1{
            font-size: 40px;
            grid-column: auto;
        }
    .napi{
        align-items: center;
        text-align: center;
        grid-template-columns: 100%;
    }
        .napi p{
            font-size: 15px;
            margin: 0 auto;
        }
        .napi h1{
            font-size: 40px;
        }
        .napi a{
            margin: 5vw auto;
        }
    .menu{
        align-items: center;
        text-align: center;
        grid-template-columns: 100%;
    }
        .menu p{
            font-size: 15px;
        }
        .menu h1{
            font-size: 40px;
            grid-column: auto;
            justify-self: center;
        }
        
}
@media screen and (500px > width >= 375px) {
    header{
        font-size: 20px;
    }
    .tortenet{
        align-items: center;
        text-align: center;
        grid-template-columns: 100%;
    }
        .tortenet p{
            font-size: 20px;
        }
        .tortenet h1{
            font-size: 40px;
            grid-column: auto;
        }
    .napi{
        align-items: center;
        text-align: center;
        grid-template-columns: 100%;
    }
        .napi p{
            font-size: 20px;
            margin: 0 auto;
        }
        .napi h1{
            font-size: 40px;
        }
        .napi a{
            margin: 5vw auto;
        }
    .menu{
        align-items: center;
        text-align: center;
        grid-template-columns: 100%;
    }
        .menu p{
            font-size: 20px;
        }
        .menu h1{
            font-size: 40px;
            grid-column: auto;
            justify-self: center;
        }
}
@media screen and (768px > width >= 500px) {
    header{
        font-size: 25px;
    }
    .tortenet{
        align-items: center;
        text-align: center;
        grid-template-columns: 100%;
    }
        .tortenet p{
            font-size: 25px;
        }
        .tortenet h1{
            font-size: 50px;
            grid-column: auto;
        }
    .napi{
        align-items: center;
        text-align: center;
        grid-template-columns: 100%;
    }
        .napi p{
            font-size: 25px;
            margin: 0 auto;
        }
        .napi h1{
            font-size: 50px;
        }
        .napi a{
            margin: 5vw auto;
        }
    .menu{
        align-items: center;
        text-align: center;
        justify-content: center;
        grid-template-columns: 100%;
    }
        .menu p{
            font-size: 25px;
        }
        .menu h1{
            font-size: 50px;
            grid-column: auto;
            justify-self: center;
        }
}
@media screen and (1024px > width >= 768px) {
    header{
        font-size: 40px;
    }
    .tortenet{
        align-items: center;
        text-align: center;
        grid-template-columns: 100%;
    }
        .tortenet p{
            font-size: 30px;
        }
        .tortenet h1{
            font-size: 60px;
            grid-column: auto;
        }
    .napi{
        align-items: center;
        text-align: center;
        grid-template-columns: 100%;
    }
        .napi p{
            font-size: 30px;
            margin: 0 auto;
        }
        .napi h1{
            font-size: 60px;
        }
        .napi a{
            margin: 5vw auto;
        }
    .menu{
        align-items: center;
        text-align: center;
        grid-template-columns: 100%;
    }
        .menu p{
            font-size: 30px;
        }
        .menu h1{
            font-size: 60px;
            grid-column: auto;
            justify-self: center;
        }
}
@media screen and (1350px > width >= 1024px) {
    header{
        font-size: 50px;
    }
        .tortenet p{
            font-size: 30px;
        }
        .tortenet h1{
            font-size: 70px;
        }
        .napi p{
            font-size: 30px;
            margin: 0 auto;
        }
        .napi h1{
            font-size: 70px;
        }
        .napi a{
            margin: 5vw auto;
        }
    .menu{
        align-items: center;
    }
        .menu p{
            font-size: 30px;
        }
        .menu h1{
            font-size: 70px;
        }
}
@media screen and (2000px > width >= 1350px) {
    header{
        font-size: 70px;
    }
        .tortenet p{
            font-size: 35px;
        }
        .tortenet h1{
            font-size: 90px;
        }
        .napi p{
            font-size: 35px;
            margin: 0 auto;
        }
        .napi h1{
            font-size: 90px;
        }
        .napi a{
            margin: 5vw auto;
        }
    .menu{
        align-items: center;
    }
        .menu p{
            font-size: 35px;
        }
        .menu h1{
            font-size: 90px;
        }
}
@media screen and (width >= 2000px) {
    header{
        font-size: 100px;
    }
        .tortenet p{
            font-size: 50px;
        }
        .tortenet h1{
            font-size: 120px;
        }
        .napi p{
            font-size: 50px;
            margin: 0 auto;
        }
        .napi h1{
            font-size: 120px;
        }
        .napi a{
            margin: 5vw auto;
        }
    .menu{
        align-items: center;
    }
        .menu p{
            font-size: 50px;
        }
        .menu h1{
            font-size: 120px;
        }
}

/* Navbar reszponzivítás */

@media screen and (max-width: 700px) {
    .nav-item{
        display: none;
    }
    .nav{
        display: grid;
        height: 6vw;
    }
    .navlogo{
        position: absolute;
        left: 93%;
        display: block;
        margin: 0;
        padding: 1vw;
        pointer-events: all;
        cursor: pointer;
    }
    .line{
        width: 5vw;
        height: 0.8vw;
        background-color: var(--feher3);
    }
    .nav.show{
        height: fit-content;
    }
    .nav-item.show{
        display: flex;
        margin: auto 0;
        height: 6vw;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .nav-item.show a{
        text-align: center;
        width: 80%;
    }
}
